* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-weight: 700;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-wrap: break-word;
    min-height: 3.1em;
    padding: .2em;
    font-size: 2em;
    font-weight: 500;
    margin: .2em 0;
    background-color: white;
    border-radius: 0.2em;

}

#display-text {
    text-align: right;
}

#expression {
    color: lightgray;
    font-size: 0.6em;
}

.container {
    border-radius: 5%;
    background-color: gray;
    width: 300px;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    box-shadow: 17px 8px 72px -29px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 17px 8px 72px -29px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 17px 8px 72px -29px rgba(0, 0, 0, 0.76);
}

#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#equal-btn {
    grid-column: span 2;
}

.btn-light {
    background-color: #dcdbdc;
}

.btn-secondary {
    background-color: #f3f2f5;
    color: black;
}

@media screen and (max-height: 390px) {
    .container {
        width: 500px;
        height: 300px;
    }

    #buttons-container {
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #equal-btn {
        width: 30%;
        order: 19
    }



    #ce {
        order: 18;
    }

    #c {
        order: 17
    }

    #del {
        order: 16
    }

    #soma {
        order: 15
    }

    #menos {
        order: 14
    }

    #divisao {
        order: 13
    }

    #multi {
        order: 12;
        align-self: stretch;
    }

    #ponto {
        order: 11;
    }

    #zero {
        order: 10
    }


    #um {
        order: 9;
    }

    #dois {
        order: 8;
    }

    #tres {
        order: 7;
    }

    #quatro {
        order: 6;
    }

    #cinco {
        order: 5;
    }

    #seis {
        order: 4;
    }

    #sete {
        order: 3;
    }

    #oito {
        order: 2;
    }

    #nove {
        order: 1;
    }

    #expression {
        color: lightgray;
        font-size: 0.8em;
    }
}